<h1> Name: <%= @band.name %> </h1>
<h2> Genre: <%= @band.genre %> </h1>



<form method="GET" action="/bands/<%=@band.id%>/edit">
  <input type="hidden" value="<%= @band.id %>" />
  <input type="submit" value="Edit"/>
</form>

<form method="GET" action="/bands/<%=@band.id%>/music_videos">
  <input type="hidden" value="<%= @band.id %>" />
  <input type="submit" value="Music Videos"/>
</form>

<form method="GET" action="/bands/<%=@band.id%>/music_videos/new">
  <input type="hidden" value="<%= @band.id %>" />
  <input type="submit" value="Add A New Music Video"/>
</form>

<form method="post" action="/bands/<%=@band.id%>">
  <input type="hidden" name="_method" value="DELETE" />
  <input class="button" type="submit" value="Delete" id="delete">
</form>
